{{> messages}}
<form action="/records/{{{record.id}}}?_method=PUT" method="POST">
	<div class="container text-center mb-4">
		<h3>編輯你的支出</h3>
	</div>
	<div class="container text-center">
		<div class="input-group mb-4">
			<div class="input-group-prepend">
				<span class="input-group-text" >名稱:</span>
			</div>
			<input type="text" name="name" value="{{{record.name}}}"class="form-control" aria-label="Sizing example input"
				aria-describedby="inputGroup-sizing-default">
		</div>


		{{!-- <div class="container">
		<div class="row">
			<div class='col-sm-6'>
				<div class="form-group">
					<div class='input-group date' id='datetimepicker1'>
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar">日期:</span>
						</span>
						<input type='text' class="form-control" />
						
					</div>
				</div>
			</div>
			<script type="text/javascript">
				$(function () {
					$('#datetimepicker1').datetimepicker();
				});
			</script>
		</div>
	</div> --}}


		<div class="input-group mb-4">
			<div class="input-group-prepend">
				<span class="input-group-text">日期:</span>
			</div>
			<input type="text" name="date" value="{{{record.date}}}"data-role="calendarpicker" data-input-format="%d/%m/%y" class="form-control"
				aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
		</div>

		<div class="input-group mb-4">
			<div class="input-group-prepend">
				<span class="input-group-text" >類別</span>
			</div>
			<select name="category" value = "{{{record.category}}}" class="form-control">
				<option value="all">全部</option>
				<option value="homeProperty">家居物業</option>
				<option value="traffic">交通出行</option>
				<option value="entertainment">休閒娛樂</option>
				<option value="food">餐飲食品</option>
				<option value="others">其他</option>
			</select>
		</div>

		<div class="input-group mb-4">
			<div class="input-group-prepend">
				<span class="input-group-text" >金額</span>
			</div>
			<input type="text"  name="amount" value="{{{record.amount}}}"class="form-control" aria-label="Sizing example input"
				aria-describedby="inputGroup-sizing-default">
		</div>

		<div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>

	</div>

</form>