<form action="/filter">
<div class = "container row p-4">
  
    {{> messages}}

  <select name="month" class="form-control col-4  m-auto">
		<option value="0">月份</option>
	  <option value="1" {{#ifSelected filteredMonth "1"}} selected {{/ifSelected}}>一月</option>
		<option value="2" {{#ifSelected filteredMonth "2"}} selected {{/ifSelected}}>二月</option>
		<option value="3" {{#ifSelected filteredMonth "3"}} selected {{/ifSelected}}>三月</option>
		<option value="4" {{#ifSelected filteredMonth "4"}} selected {{/ifSelected}}>四月</option>
		<option value="5" {{#ifSelected filteredMonth "5"}} selected {{/ifSelected}}>五月</option>
		<option value="6" {{#ifSelected filteredMonth "6"}} selected {{/ifSelected}}>六月</option>
		<option value="7" {{#ifSelected filteredMonth "7"}} selected {{/ifSelected}}>七月</option>
		<option value="8" {{#ifSelected filteredMonth "8"}} selected {{/ifSelected}}>八月</option>
		<option value="9" {{#ifSelected filteredMonth "9"}} selected {{/ifSelected}}>九月</option>
		<option value="10"{{#ifSelected filteredMonth "10"}} selected {{/ifSelected}}>十月</option>
		<option value="11"{{#ifSelected filteredMonth "11"}} selected {{/ifSelected}}>十一月</option>
		<option value="12"{{#ifSelected filteredMonth "12"}} selected {{/ifSelected}}>十二月</option>
	</select>
		

		
	  
  <select name="category" class="form-control col-4 mr-5">
		<option value="all" {{#ifSelected filteredCategory "all"}} selected {{/ifSelected}}>全部</option>
		<option value="homeProperty" {{#ifSelected filteredCategory 'homeProperty'}}selected{{/ifSelected}}>家居物業</option>
		<option value="traffic" {{#ifSelected filteredCategory "traffic"}} selected {{/ifSelected}}>交通出行</option>
		<option value="entertainment" {{#ifSelected filteredCategory "entertainment"}} selected {{/ifSelected}}>休閒娛樂</option>
		<option value="food" {{#ifSelected filteredCategory "food"}} selected {{/ifSelected}}>餐飲食品</option>
		<option value="others" {{#ifSelected category "others"}} selected {{/ifSelected}}>其他</option>
	</select> 
      
	<button class="btn btn-outline-info btn-sm" type="submit">查詢支出
	</button>	
	
	</form>
</div>	

<div class ="row">
	<form class="col-12 " action="/records/new">
		<button class="btn btn-outline-success w-100" type="submit">新增支出</button>
	</form>
</div>

<div class="container row p-3">
	{{!-- display total amount --}}
	<div class="col-6 m-auto">
    
		<label for="totalAmount">Total Amount</label>
		<h2 class="text-center text-danger" id="totalAmount">{{totalAmount}}</h2>
	</div>
	
	{{!-- display chart --}}
	
	<div  class="col-3">
		
			<!-- Handlebars Template -->
			
				<canvas src=`{{ myChart }}` ></canvas>
		
			{{!-- {{myChart}} --}}		
	</div>
	
</div>

{{!-- record list --}}
<div>
	<ul>
		{{#each records}}
		<li class="list-group-item">
			<div class="row">
				<div class="col-auto mr-auto">
					{{#ifcategoryicon records}}
              <i class="fas fa-{{categoryimage}} ml-3 mt-3 w-100" ></i>
            {{/ifcategoryicon }}
				</div>
				<div class=" mr-auto ">
					<p style="display: inline; vertical-align:middle;">{{this.name}}</p>
					{{#ifdate records}}
					<p style="vertical-align:middle;font-size:10px;">{{date}}</p>
					{{/ifdate}}
				</div>
				<div class="col-auto mr-auto mt-4">
					<h5 style="display: inline; vertical-align:middle;">{{this.amount}}</h5>
				</div>
				<div class="col-auto">
					<a href="/records/{{{this.id}}}/edit?_method=PUT" class="btn btn-success">edit</a>
					<form action='/records/{{{this.id}}}/delete?_method=DELETE' method="POST" style="display: inline;">
						<button type="submit" class="btn btn-danger">delete</button>
					</form>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
</div>





